body {
    padding-top: 5rem;
}

#main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    min-width: 100px;
    min-height: 100px;
    max-width: 280px;
    max-height: 280px;
    margin: 5px;
}