body {
    padding-top: 5rem;
}

#main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}

img{
    max-width: 220%;
    max-height: 220%;
    margin: 5px;
}